$breakpoint-tablet: 1024px;

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f497b;



  @media (max-width: $breakpoint-tablet){
    display: none;
  }

  &--active {
    display: flex;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 12px;
  }

  &__navigation{
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }

  &__cart-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
    &:hover{
      & .cart-button__img * {
        fill: #fbff3d;
      }
    }
    &:hover {
      color: #fbff3d;
    }
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.nav {
  &__item{
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 39px;
    cursor: pointer;
    &:hover {
      color: #fbff3d;
    }
    @media (max-width: $breakpoint-tablet) {
      padding: 9px 0 10px 16px;
      width: 100%;
      display: block;
      margin-right: 0;

      &:hover {
        background: #618cbf;
        border-radius: 1px;
        color: #ffffff;
      }
    }
  }
}

.cart-button {
  &__img {
    margin-right: 10px;
  }
}
